/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-item {
    width: 360px;
    height: 200px;
    position: relative;
}

.gallery-link {
    text-decoration: none;
    width: 0;
    height: 0;
} */

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
}

li {
    margin-bottom: 24px;
}

img {
    width: 360px;
    height: 200px;
    display: block; /* Remove extra space beneath the image */
}

/* .yu {
    
} */